<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="state-Mapper">
	
	<sql id="state">
		<if test="searchType == 's'.toint() ">
			and evc_state_num like '%'||#{keyword}||'%'
		</if>
	</sql>
		<sql id="state">
		<if test="searchType == 'n'.toString() ">
			and evc_num like '%'||#{keyword}||'%'
		</if>
	</sql>
	
	
	<select id="selectevc_stateList" resultType="state">
		select *
		from evc_state
		where evc_state_num=#{evc_state_num}
		order by evc_num asc
		<include refid="search" />
	</select>
	
		<select id="selectevc_stateByevc_num" parameterType="str" resultType="state">
		select
		*
		from evc_state
		where evc_num=#{evc_num}
	</select>
	
	<update id="insertuse">
		insert into
		evc_state(evc_state_num,evc_state_text,evc_num)
		values(#{evc_state_num},#{evc_state_text},#{evc_num)
	</update>
	
</mapper>